format = """
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$nodejs\
$php\
$env_var\
$custom\
$cmd_duration\
$line_break\
$status\
$shell\
$character"""

[git_status]
ahead = "⇡${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
behind = "⇣${count}"
stashed = ""

[git_branch]
format = "[git:\\($branch\\)]($style) "

[cmd_duration]
min_time = 5_000

[nodejs]
format = "[node:\\($version\\)](bold green) "
version_format = "${raw}"

[php]
format = "[php:\\($version\\)]($style) "
version_format = "${raw}"

[bun]
format = "[bun:\\($version\\)]($style)"
version_format = "${raw}"
detect_extensions = ['ts']
