'editor':
  'fontSize': 12
  'showInvisibles': true
  'showIndentGuide': true
  'invisibles':
    'eol': false
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
'exception-reporting':
  'userId': 'c556c1fb-e1b0-057e-2829-f775b71038d6'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '88c661bfe66a9e72868fd894067ce03d364e38ff'
